.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1976d2;
}
.filterInput {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  background-color: transparent;
  width: 400px;
}
.filterInput:hover {
  border: 1px solid #134e8a;
  background-color: #e8f0fe;
}
.filterInput::placeholder {
  color: rgb(107, 90, 90);
}
